.content {
  padding: 2rem;
  text-align: center;

  width: 60%;
  margin: 0 auto;

  padding: 8rem 0;
}

.message {
  font-size: 1.7rem;
  color: #a8b2d1;
  line-height: 1.5;

  margin: 1.4rem 0;
}

.button:hover {
  background-color: #64ffda1a !important;
}

@media (max-width: 767px) {
  .content {
    width: 100%;
  }
}
